.advantages__item {
  .wrapper;
  .block_type(@white-color; @black-color);
  position: relative;
  width: 320px;
}

.advantages__title {
  .font_type(@bold-type);
  .text_type(18px; 24px; center; 40px; 10px);
}

.advantages__number {
  .font_type(@normal-type);
  .text_type(14px; 21px; center; 10px; 15px);
}

.advantages__description {
  .font_type(@normal-type);
  .text_type(14px; 21px; center; 15px; 55px);
}

.advantages__item--blue {
  .block_type(@blue-color; @white-color);
}

.advantages__item--grey {
  .block_type(@grey-color; @black-color);
}

.advantages__img-item {
  .size(100%; auto);
}

.advantages__img {
  margin: 0;
}

.advantages__item--reverse-top {
  margin-top: 30px;
}

.advantages__item--reverse-bot {
  margin-bottom: 30px;
}

.advantages__item--triangle-up::before {
  content: "";
  .size(100%; 27px);
  position: absolute;
  background: url(../../img/bg-intro-triangle-mobile.svg) no-repeat;
  margin-top: -70px;
  z-index: 2;
  left: 0;
  top: 43px;
  background-size: cover;
}

.advantages__item--triangle-down::after {
  content: "";
  .size(100%; 27px);
  position: absolute;
  background: url(../../img/bg-intro-triangle-mobile-blue.svg) no-repeat;
  left: -1px;
  top: -27px;
  background-size: cover;
}

@media (min-width: @tablet-width) {
  .advantages__item--triangle-up::before {
    background: url(../../img/bg-intro-triangle-tablet.svg) no-repeat;
    .size(768px; 57px);
    top: 14px;
    left: 0;
  }

  .advantages__item--triangle-down::after {
    display: none;
  }

  .advantages__item {
    display: flex;
    flex-direction: row;
  }

}