.main-header__list {
  .wrapper;
  .block_type(@blue-color; @white-color);
  .null-p-m;
  justify-content: center;
  width: 320px;
}

.main-header__item {
  position: relative;
  display: flex;
  justify-content: center;
  list-style: none;
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;
  width: 320px;
}

.main-header__link {
  .font_type(@bold-type);
  position: relative;
  font-size: 18px;
  line-height: 40px;
  padding: 10px 0;
  text-decoration: none;
  color: #ffffff;
  margin: auto;
}

.main-header__close {
  .size(25px; 25px);
  position: absolute;
  background: url(../../img/icon-cross.svg) no-repeat;
  right: 20px;
  top: 20px;
  border: 0;
}

.main-header__toggle {
  .size(25px; 25px);
  position: absolute;
  background: url(../../img/icon-menu.svg) no-repeat;
  right: 20px;
  top: 20px;
  border: 0;
}

.main-header-logo {
  position: relative;
  width: 320px;
  min-height: 55px;
  z-index: 3;
}

.main-header__logo-img {
  position: absolute;
  left: 110px;
  margin: auto;
}

.main-header__img {
  position: relative;
  background: url(../../img/back-mobile.jpg) no-repeat;
 }

.main-header__text {
  width: 320px;
  padding: 85px 20px;
}

.main-header__img--low {
  background-position: bottom;
  width: 320px;
}

