.main-header {
  .wrapper(0);
}

.main-header__list {
  .block_type(@blue-color; @white-color);
  .null-p-m;
  justify-content: center;
 }

.main-header__item {
  .wrapper(0 20px);
  position: relative;
  display: flex;
  justify-content: center;
  list-style: none;
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;
}

.main-header__link {
  .font_type("PT Sans Bold"; @bold-type);
  position: relative;
  font-size: 18px;
  line-height: 40px;
  padding: 10px 0;
  text-decoration: none;
  color: #ffffff;
  margin: auto;
}

.main-header__close {
  .size(25px; 25px);
  position: absolute;
  background: url(../../img/icon-cross.svg) no-repeat;
  right: 20px;
  top: 20px;
  border: 0;
}

.main-header__toggle {
  .size(25px; 25px);
  position: absolute;
  background: url(../../img/icon-menu.svg) no-repeat;
  right: 20px;
  top: 20px;
  border: 0;
}

.main-header__logo {
  position: relative;
  width: 320px;
  min-height: 55px;
  z-index: 3;
}

.main-header__logo-img {
  position: absolute;
  left: 110px;
  margin: auto;
}

.main-header__img {
  .wrapper(0);
  background: url(../../img/back-mobile.jpg) no-repeat;
  background-size: cover;
 }

.main-header__text {
  .wrapper(85px 20px);
  width: 320px;
}

.main-header__img--low {
  background-position: bottom;
  width: 320px;
}

@media (min-width: @tablet-width) {
  .main-header__wrapper {
    position: relative;
  }

  .main-header__close,
  .main-header__toggle {
    display: none;
  }
  
  .main-header__list {
    flex-direction: row;
    justify-content: space-between;
    background-color: @white-color;
  }

  .main-header__item {
    width: 150px;
    .null-p-m;
    border: none;
  }

  .main-header__item:nth-child(2) {
    margin-right: auto;
  }

  .main-header__item:nth-child(3n) {
    margin-left: auto;
    margin-right: 0;
  }

  .main-header__logo-img {
    position: static;
    width: 100%;
    height: auto;
    display: block;
  }

  .main-header__logo {
    position: absolute;
    width: 104px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .main-header__link {
    color: @black-color;
    font-size: 14px;
    line-height: 26px;
    margin: 0 20px;
  }

  .main-header__img {
    background: url(../../img/bg-back-tablet@1x.jpg) no-repeat;
  }

  .main-header__img--low {
    .wrapper(0);
    background-position: bottom;
  }

  .main-header__text {
    display: block;
    width: 460px;
    padding-top: 75px;
    padding-bottom: 85px;
    margin: 0 auto;
  }

  .main-header__text--low {
    padding-top: 94px;
    padding-bottom: 115px;
  }
}

@media (min-width: @desktop-width) {
  .main-header__img {
    background: url(../../img/bg-back-desktop@1x.jpg) no-repeat;
  }

  .main-header__list {
    justify-content: space-between;
  }

  .main-header__item {
    width: 240px;
  }

  .main-header__logo {
    width: 190px;
  }
}

