.motivation {
  .block_type(@white-color; @black-color);
  border-bottom: #b2b2b2b2 solid 2px;
}

.motivation__title {
  .font_type(@bold-type);
  .text_type(18px; 24px; center; 40px; 27px);
  position: relative;
}

.motivation__description {
  .font_type(@normal-type);
  .text_type(14px; 21px; center; 15px; 28px);
}

.motivation__title::before {
  content: "";
  .size(320px; 30px);
  position: absolute;
  background: url(../../img/bg-intro-triangle-mobile.svg) no-repeat;
  width: 320px;
  height: 30px;
  margin-top: -70px;
  z-index: 2;
  left: -20px;
  top: 4px;
}
