.blue_block() {
  background-color: #81b3d2;
  color: #ffffff;
}

.white_block() {
  background-color: #ffffff;
  color: #000000;
}

.bold_type() {
  font-family: "PTSans", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 700px;
}

.normal_type() {
  font-family: "PTSans", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 400px;
}

.title_type() {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin: 35px 0;
}

.description_type() {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 25px 0;
}