.wrapper(@padding) { 
  width: 320px;
  padding: @padding;
  margin: 0 auto;
  
  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }
  
  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.block_type(@back-color; @color) {
  display: flex;
  flex-direction: column;
  background-color: @back-color;
  color: @color;
}
  
.font_type(@font-type; @weight) {
  font-family: @font-type, "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: @weight;
}

.text_type(@font-size; @line-height; @text-align; @m-top; @m-bot) {
  font-size: @font-size;
  line-height: @line-height;
  text-align: @text-align;
  margin-top: @m-top;
  margin-bottom: @m-bot;
}

.size(@width; @height) {
  width: @width;
  height: @height;
}

.null-p-m {
  padding: 0;
  margin: 0;
}

.margin-top-bot(@margin-top; @margin-bot) {
  margin-top: @margin-top;
  margin-bottom: @margin-bot;
}